<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Genetic algorithm</title>
    <link rel="icon" type="image/svg+xml" href="/static/assets/genetic-icon.svg">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script src="/static/js/index.js" defer></script>
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
  <div class="container">
    <div class="header">
      <img class="header-img" src="/static/assets/genetic-icon.svg" alt="Genetic algorithm icon">
      <h1>Algoritmo genetico</h1>
      <p>Dado un conjunto de números enteros,</br> 
        maximizar la suma de subconjuntos cuya </br>
        suma no exceda un valor límite L</p>
    </div>
    <div class="limit-select">
      <label for="limit">Limite</label>
      <input type="number" id="limit" name="limit" min="1" max="100000" value="100">
      <button id="start">Iniciar</button>
    </div>
    <div class="best-solution container">
      <h2>Mejor solución</h2>
      <div class="solution">
        <p><span id="best-set">{1,2,3,4,5}</span></p>
        <p><i><span id="best-sum">+99</span></i></p>
      </div>
    </div>
  </div
</body>
</html>